:root {
    --app-dash-width: 50%;
    --app-dash-height: 90vh;
    --app-dash-margin-top: 1vh;
    --app-dash-margin-left: 22.5%;
    --app-dash-margin-right: 22.5%;
    

    --app-container-width: 100%;
    --app-container-margin-bottom: 4%;
    --app-container-back-color:#FAFAFA;
    --app-container-back-shadow:2px 2px 8px 1px rgba(55, 71, 79, 0.18);;
    --app-container-padding: 40px;

    --app-card-height: 30vh;
    --app-card-width: 96%;
    --app-card-margin: 2%;
    --app-card-margin-top: 2%;
    --app-card-back-color:#FDFDFD;
    
    --app-card-shadow:2px 2px 8px 1px rgba(55, 71, 79, 0.20);

    --app-card-height-user: 40vh;
    --app-card-width-user: 100%;
    --app-card-margin-top-user: 0vh;
    --app-card-padding-user: 16px;
    --app-card-back-color-user:rgba(55, 71, 79, 1);
    --app-card-shadow-user:2px 4px 8px 1px rgba(55, 71, 79, 0.20);

    --app-card-left-stat-fontsize: 6rem;
    --app-card-back-color: #fff8e7;
}

@media screen and (max-width: 1600px) {
    :root {
        --app-dash-width: 50%;
        --app-dash-margin-left: 25%;
        --app-dash-margin-right: 25%;
    }
}

@media screen and (max-width: 1366px) {
    :root {
        --app-dash-width: 60%;
        --app-dash-margin-left: 20%;
        --app-dash-margin-right: 20%;
    }
}

@media screen and (max-width: 1200px) {
    :root {
        --app-dash-width: 68%;
        --app-dash-margin-left: 16%;
        --app-dash-margin-right: 16%;
        --app-card-left-stat-fontsize: 5rem;
    }
}

@media screen and (max-width: 1024px) {
    :root {
        --app-dash-width: 80%;
        --app-dash-margin-left: 10%;
        --app-dash-margin-right: 10%;
    }
}

@media screen and (max-width: 600px){
    :root {
        --app-dash-width: 92%;
        --app-dash-margin-left: 4%;
        --app-dash-margin-right: 4%;
        --app-card-left-stat-fontsize: 4rem;
    }
}

@media screen and (max-width: 440px){
    :root {
        --app-dash-width: 96%;
        --app-dash-margin-left: 2%;
        --app-dash-margin-right: 2%;
        --app-card-left-stat-fontsize: 3rem;
    }
}

.dashboard{
    width: var(--app-dash-width);
    padding-top: 0;
    margin-top: var(--app-dash-margin-top);
    margin-left: var(--app-dash-margin-left);
    margin-right: var(--app-dash-margin-right);
    position: relative;
}

.cardContainer{
    width: var(--app-container-width);
    padding-left: 20px;
    padding-top: 0;
    margin-bottom: var(--app-container-margin-bottom);
    margin-top: 0;
    min-height: 100%;
    /* box-shadow: var(--app-container-back-shadow); */
}

.cardContainer ::-webkit-scrollbar {
    display: none;
    width: 5px;
    height: 8px;
    background-color: #aaa; /* or add it to the track */
}


.cardContainer ::-webkit-scrollbar-thumb {
    width: 5px;
    height: 8px;
    background-color: #a0a; /* or add it to the track */
}

/* <h3 className="smm-profile"></h3> */
.dashCardLeftStat {
    font-size: var(--app-card-left-stat-fontsize);
}