::-webkit-scrollbar {
  display: none;
}

.App {
  margin: 0px;
  width: 100%;
  padding: 0px;
  max-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.nav {

  background-color: #263238;
}

.toolbar {}

/* .App-header {
  overflow: hidden;
  color: white;
} */

.App-title {

  font-size: 1.5em;
}

.App-intro {

  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* @media screen and (max-width: 600px){
    .App-header {
        min-height: 29.5vh;
      
      
    }
  } */
