@import url("https://www.w3schools.com/w3css/4/w3.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.learnSection {
    max-height: 88vh;
    max-width: 45%;
    margin-left: 27%;
    padding-left: 5px;
    padding-right: 5px;
    overflow-y: scroll;
}


/* @media screen and (max-width: 600px){
    .learnSection{
        max-width: 85%;
        max-height: 80vh;
        margin-left: 7.5%;
    }
} */

@media screen and (max-width: 1280px) {
    .learnSection {
        max-width: 85%;
        margin-left: 7.5%;
    }
}

@media screen and (max-width: 1600px) {
    .learnSection {
        max-width: 70%;
        margin-left: 15%;
    }
}