@import url("https://www.w3schools.com/w3css/4/w3.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");



::-webkit-scrollbar{
    visibility: hidden;
}
.learnSection {
    max-height: 90vh;
    max-width: 46%;
    margin-top: 2vh;
    margin-left: 27%;
    margin-right: 27%;
    padding-left: 5px;
    padding-right: 5px;
    overflow-y: scroll;
}

@media screen and (max-width: 1600px)  {
    .learnSection {
        max-width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
}

@media screen and (max-width: 1366px) {
    .learnSection {
        max-width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media screen and (max-width: 1200px) {
    .learnSection {
        max-width: 68%;
        margin-left: 16%;
        margin-right: 16%;
    }
}

@media screen and (max-width: 1024px) {
    .learnSection {
        max-width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 600px){
    .learnSection{
        max-width: 92%;
        margin-left: 4%;
        margin-right: 4%;
    }
}

@media screen and (max-width: 440px){
    .learnSection{
        max-width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }
}







