:root{

}

.Container{
    display: flex;
    align-items: flex-start;
    height: 2vh;
    width: 90%;
    background-color: #FFF;
    box-shadow: 2px, 2px, 2px, #eee;
    border-radius: 40px;
    padding: 16px;
}
.Container > img{
    height: 2vh;
    max-width: 10%;
}