.cardContent>h2 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14pt;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 0px;
}

.cardContent>h3 {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 10pt;
    margin-top: 3px;
    margin-left: 20px;
}

a {
    color: black;
}

.media {
    min-height: 35vh;

}

.rel {
    position: relative;
    width: 100%;
    min-height: 50vh;
}

.noshadow {
    box-shadow: 0px 0px 0px #fff;
    outline: none;
}

.cardContent {
    position: absolute;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: -0.3px -1.0px 7px #9E9E9E;
    margin-top: 0px;
    margin-bottom: 50px;
    left: -0.25%;
    bottom: 0px;
    min-width: 100.5%;
    min-height: 10vh;
}

.grad {
    position: absolute;
    top: 0;
    min-height: 35vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

.text {
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
}

@media screen and (max-width: 600px) {
    h2 {
        font-size: 12pt;
        margin-left: 15px;
    }

    h3 {
        margin-left: 15px;
    }

    .text {
        width: 100%;
    }
}

@media screen and (max-width: 1028px) {}