:root{
    --app-back-color: #1C2936;
    --app-fore-color: #273549;

    --app-landingContainer-section-width: 50%;
    --app-landingContainer-section-min-width: 600px;

    --app-landing-section-height: 72vh;
    --app-landing-image-section-height: 72vh;
    --app-landing-text-section-height: 60vh;

    --app-landing-text-section-padding: 12vw 8vw;

    --app-landing-hero-text-title-fontsize: 10vh;
    --app-landing-hero-text-desc-fontsize: 2vh;
    --app-landing-hero-button-text-fontsize: 2vh;
    --app-landing-hero-button-helpertext-fontsize: 1.8vh;

    --app-landing-text-title-fontsize: 10vh;
    --app-landing-text-quote-fontsize: 1.8vh;
    --app-landing-text-desc-fontsize: 2vh;

    --app-landing-appbar-desc-fontsize: 3vh;
}

@media screen and (max-width: 1024px) {
    :root {
        --app-landingContainer-section-width: 100%;
        --app-landingContainer-section-min-width: 500px;
        --app-landing-section-height: 100vh;/* --app-landing-section-height: 144vh; */
        --app-landing-image-section-height: 64vh;
        --app-landing-text-section-height: 36vh;
        --app-landing-text-section-padding: 8vw 6vw;
        --app-landing-hero-text-title-fontsize: 7vh;
        --app-landing-hero-text-desc-fontsize: 2.8vh;
        --app-landing-text-title-fontsize: 7vh;
        --app-landing-text-quote-fontsize: 2vh;
        --app-landing-text-desc-fontsize: 2.8vh;
        --app-landing-appbar-desc-fontsize: 2vh;
    }
}

@media screen and (max-width: 600px){
    :root {
        --app-landingContainer-section-width: 100%;
        --app-landingContainer-section-min-width: 300px;
        --app-landing-section-height: 90vh;/* --app-landing-section-height: 144vh; */
        --app-landing-image-section-height: 56vh;
        --app-landing-text-section-height: 34vh;
        --app-landing-text-section-padding: 6vw 6vw;
        --app-landing-hero-text-title-fontsize: 6vh;
        --app-landing-hero-text-desc-fontsize: 3vh;
        --app-landing-text-title-fontsize: 6vh;
        --app-landing-text-quote-fontsize: 2vh;
        --app-landing-text-desc-fontsize: 2.8vh;
        --app-landing-appbar-desc-fontsize: 1.4vh;
        --app-landing-hero-button-text-fontsize: 2.2vh;
        --app-landing-hero-button-helpertext-fontsize: 2.2vh;
    }
}

@media screen and (max-width: 320px){
    :root {
        --app-landingContainer-section-width: 100%;
        --app-landingContainer-section-min-width: 300px;
        --app-landing-section-height: 90vh;/* --app-landing-section-height: 144vh; */
        --app-landing-image-section-height: 56vh;
        --app-landing-text-section-height: 34vh;
        --app-landing-text-section-padding: 4vw 4vw;
        --app-landing-hero-text-title-fontsize: 8vh;
        --app-landing-hero-text-desc-fontsize: 3.2vh;
        --app-landing-text-title-fontsize: 8vh;
        --app-landing-text-quote-fontsize: 2vh;
        --app-landing-text-desc-fontsize: 2.8vh;
        --app-landing-appbar-desc-fontsize: 1.4vh;
        --app-landing-hero-button-text-fontsize: 2.8vh;
        --app-landing-hero-button-helpertext-fontsize: 2.4vh;
    }
}

/* @media screen and (max-width: 440px){
    :root {
        --app-dash-width: 96%;
        --app-dash-margin-left: 2%;
        --app-dash-margin-right: 2%;
    }
} */


/*################ Landing Section Basic sizes and dimensions ################*/
.landingContainer {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    color: #F9F9F9;
    background: linear-gradient(to bottom, #041620 0%, #1C2936 51%, #324a5e 100%);
}

.landingSection {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    height: var(--app-landing-section-height);
    flex-direction: row;
    margin-bottom: 8vh;
}

.landingSectionRev {
    display: flex;
    width: 100%;
    height: var(--app-landing-section-height);
    flex-flow: row-reverse wrap;
    margin-bottom: 8vh;
    /* flex-direction: row-reverse; */
}

.landingSectionImage{
    width: var(--app-landingContainer-section-width);
    height: var(--app-landing-image-section-height);
    /* min-width: var(--app-landingContainer-section-min-width); */
    padding: 4%;
}
.landingSectionImage:hover{
    background: #04162060;
    filter: saturate(1.4);
    box-shadow: 0px 2px 2px #00000080;
}

.landingSectionTextContainer{
    width: var(--app-landingContainer-section-width);
    height: var(--app-landing-text-section-height);
    /* min-width: var(--app-landingContainer-section-min-width); */
    flex-flow: column;
    padding: var(--app-landing-text-section-padding);
    justify-content: space-around;
    /* background: #041620; */
    color: #F9F9F9;
    margin-top: -16vh;
}

.landingSectionTextContainer:hover{
    /* background: #04162060; */
    filter: contrast(140%);
    /* box-shadow: 1px 1px 2px #00000080; */
}


/*################ Hero Section Basic sizes and dimensions ################*/
.landingSectionHeroTitle{
    font-size: var(--app-landing-hero-text-title-fontsize);
    font-weight: 600;
    margin-bottom: 4%;
    width: 100%;
}

.landingSectionHeroDescription {
    font-size: var(--app-landing-hero-text-desc-fontsize);
    margin-bottom: 4%;
}

.landingSectionHeroButtonContainer {
    display: flex;
    flex-flow: wrap;
    min-width: 200px;
    width: 28%;
    max-width: 320px;
    justify-content: center;
    cursor: pointer;
}

.landingSectionHeroButton {
    width: 100%;
    height: 30%;
    text-align: center;
    /* text-transform: uppercase; */
    transition: 0.5s;
    background-size: 200% auto;
   /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    border-radius: 5px;
    padding: 2%;
    background-image: linear-gradient(to right, #16DF82 0%, #82FD61 51%, #16DF84 100%);
}
.landingSectionHeroButton:hover { background-position: right center; }

.landingSectionHeroButtonText{
    font-family: "Raleway", sans-serif;
    color: #32485e;
    font-weight: 600;
    font-size: var(--app-landing-hero-button-text-fontsize);
}

.landingSectionHeroButtonHelper{
    font-variant: small-caps;
    margin: .5vh;
    font-size: var(--app-landing-hero-button-helpertext-fontsize);
}


/*################ Landing Section Normal Text sizes and dimensions ################*/
.landingSectionTextTitle{
    width: 100%;
    font-size: var(--app-landing-text-title-fontsize);
    font-weight: 600;
    margin-bottom: 4vh;
}

.landingSectionTextQuote{
    font-size: var(--app-landing-text-quote-fontsize);
    font-style: italic;
    font-weight: 400;
    margin-bottom: 2vh;
}

.landingSectionTextDescription{
    font-size: var(--app-landing-text-desc-fontsize);
    font-weight: 400;
}



/*################ Bottom Appbar sizes and dimensions ################*/
.appBar.container{
    display: flex;
    width: 100%;
    min-width: 100%;
    height: 10vh;
    min-height: 108px;
    margin-top: 4px;
    align-items: center;
    z-index: 1;
    background: #162432;
}

.appBar.logo{
    width: 32%;
    height: 88%;
}

.appBar.description{
    width: 36%;
    flex-grow: 1;
    margin: 0px 2%;
    font-size: var(--app-landing-appbar-desc-fontsize);
}

.appBar.buttonContainer{
    display: flex;
    align-items: center;
    justify-items: space-around;
    width: 24%;
    height: 80%;
    margin-right: 4%;
    padding: 36% 8px;
    text-align: center;
    color: #F9F9F9;
    font-weight: 600;
    /* font-variant: small-caps; */
    /* text-transform: uppercase; */
    
   /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    border-radius: 5px;
    
    transition: 0.5s;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #16DF82 0%, #82FD61F0 51%, #16DF84 100%);
}
.appBar.button{
    width: 24%;
    height: 80%;
    margin-right: 4%;
    cursor: pointer;
}

.appBar.container:hover { filter:saturate(1.3); }