.drawer {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  background: #042432;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  padding: 1vh;
  width: 70%;
  max-width: 320px;
  z-index: 200;
  transition: transform 0.3s ease-out;
  overflow-y: scroll;
}

@media (max-width: 1022px) {
  .drawer {
    width: 70%;
    max-width: 320px;
  }
}

.drawer.tdc {
  left: 0;
  transform: translateX(-100%);
}

.drawer.user {
  right: 0;
  transform: translateX(100%);
}

.drawer.open {
  transform: translateX(0);
}

/* @media (min-width: 769px) {
      .drawer {
          display: none;
      }
  }
   */
.todoText {
  font-size: 1rem;
  margin: 1vh;
  line-height: 2vh;
  padding: 0;
  text-align: start;
}

.todoitem {
  display: flex;
  align-items: center;
  width: 96%;
  height: 8vh;
  min-height: 8vh;
  padding: 0.4vh;
  margin: 4px;
  margin-bottom: 8px;
  border-radius: 2px;
  background: #fafafa;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 16%);
  font-family: Raleway, sans-serif;
  font-size: .7rem;
  font-weight: 600;
}

.todoDates {
  background: rgba(22, 223, 100, .5);
  margin: 0.2vh;
  padding: .6vh;
  width: 60px;
  min-width: 60px;
  height: 60px;
  line-height: 1vh;
  color: #4e4e4e;
  border-radius: 3vh 0vh 3vh 0vh;
}

.completeByDate {
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0;
  text-align: center;
}

.completeByMonth {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 0;
  text-align: center;
}

.todoTitle {
  font-size: .9rem;
  font-weight: 600;
  color: #4e4e4e;
  margin-left: 1vw;
  line-height: 1.6vh;
  padding: 0;
  text-align: left;
}
