.drawer {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  background: #042432;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  padding: 1vh;
  width: 70%;
  max-width: 320px;
  z-index: 200;
  transition: transform 0.3s ease-out;
  overflow-y: scroll;
}

@media (max-width: 1022px) {
  .drawer {
    width: 70%;
    max-width: 320px;
  }
}

.drawer.tdc {
  left: 0;
  transform: translateX(-100%);
}

.drawer.user {
  right: 0;
  transform: translateX(100%);
}

.drawer.open {
  transform: translateX(0);
}

/* @media (min-width: 769px) {
      .drawer {
          display: none;
      }
  }
   */

.underLiner .todoDrawerTitle {
  width: 20%;
  min-width: 40px;
  min-height: 2px;
  margin-top: -8px;
  border-bottom: 2px solid #16df64;
}

.todoDrawerDesc {
  font-size: 1rem;
  margin: 1vh;
  padding: 0;
  text-align: start;
}

.todoitem {
  display: flex;
  align-items: center;
  width: 96%;
  height: 8vh;
  min-height: 8vh;
  padding: 0.4vh;
  margin: 4px;
  margin-bottom: 8px;
  border-radius: 2px;
  background: #fafafa;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 16%);
  font-family: Raleway, sans-serif;
  font-size: .7rem;
  font-weight: 600;
}

.todoDates {
  background: rgba(22, 223, 100, .5);
  margin: 10% 1%;
  padding: .6vh;
  width: 25%;
  min-width: 40px;
  height: 90%;
  min-height: 40px;
  line-height: 1vh;
  color: #4e4e4e;
  border-radius: 3vh 0vh 3vh 0vh;
}

.completeByDate {
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0;
  text-align: center;
}

.completeByMonth {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 0;
  text-align: center;
}

.todoTitle {
  font-size: .9rem;
  color: #4e4e4e;
  width: 70%;
  margin-left: 1vw;
  line-height: 1.6vh;
  padding: 0;
  text-align: left;
}


/*################ Styling for the User Read History Section ################*/
.liner .histDrawerTitle{
  width: 20%;
  min-width: 40px;
  margin-top: -16px;
  border-bottom: 2px solid #16df64;
}

.histDrawerDesc {
  font-size: 1.2rem;
  margin: 1vh;
  padding: 0;
  text-align: start;
}

.histCard {
  display: flex;
  flex-flow: column;
  align-content: flex-start;
  width: 96%;
  padding: 2% 4%;
  margin: 4px;
  margin-bottom: 8px;
  border-radius: 2px;
  background: #f6f6f6;
  box-shadow: 1px 1px 3px #CFD8DCa0;
  font-family: Roboto, sans-serif;
  border-bottom: 4px solid #69ffcd00;
}

.histCardTitle {
  height: 60%;
  margin: 4% 8px;
  line-height: 1.2;
  font-size: 1rem;
  font-weight: 500;
  color: #4e4e4e;
}

.histCardCategory {
  height: 40%;
  margin: 1% 0% 2%;
  font-size: .8rem;
  font-weight: 400;
  color: #324a5ecc;
}
.histCardCategoryLiner{
  width: 10%;
  margin-top: -6px;
  margin-left: 8px;
  min-width: 16px;
  border-bottom: 2px solid #16df64;
}

.histCard:hover {
  margin: 2px 3px 8px 5px;
  box-shadow: 2px 2px 6px #CFD8DCa0;
  border-bottom: 4px solid #00ffaa;
}

.histCard:hover .histCardTitle/*, 
.histCard:hover .histCardCategory*/ {
  font-weight: 600;
}
/*################ End of Styling for the User Read History Section ################*/