.drawer {
  height: 100vh;
  background: #042432;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  padding: 1vh;
  width: 70%;
  max-width: 320px;
  z-index: 200;
  transition: transform 0.3s ease-out;
  overflow-y: visible;
}

@media (max-width: 1022px) {
  .drawer {
    width: 70%;
    max-width: 320px;
  }
}

.drawer.tdc {
  left: 0;
  transform: translateX(-100%);
}

.drawer.user {
  right: 0;
  transform: translateX(100%);
}

.drawer.open {
  transform: translateX(0);
}

/* @media (min-width: 769px) {
      .drawer {
          display: none;
      }
  }
   */

.todoitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88%;
  height: 8vh;
  padding: 0px;
  margin: 4px;
  margin-left: 20px;
  margin-bottom: 8px;
  border-radius: .2vh;
  background: #F9F9F9;
  box-shadow: 1px 1px 3px rgba(0,0,0,16%);
  font-family: Raleway, sans-serif;
  font-size: .7rem;
  font-weight: 600;
  color: #4e4e4e;
}

.todoTitle {
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #4e4e4e;
  max-width: 70%;
  margin-top: 5;
  margin-right: 0;
  margin-left: 18;
  padding: 0;
  text-align: left;
}

.completeByDate {
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #4e4e4e;
  max-width: 70%;
  margin-top: 5;
  margin-right: 0;
  margin-left: 18;
  padding: 0;
  text-align: left;
}