:root {
    --link-font-size: 1rem;
    --link-padding: 4px 10px;
    --link-color: #FFF8E7;

    --profiler-name-font-size: 1rem;
    --profiler-desig-font-size: .8rem;
    --profiler-height: 92%
}


@media screen and (max-width: 510px) {
    :root {
        --link-font-size: .8rem;
        --link-padding: 2px 6px;

        --profiler-name-font-size: .7rem;
        --profiler-desig-font-size: .5rem;
    }
}

.toolbar {
    display: flex;
    background: #042432;
    position: fixed;

    width: 100%;
    height: 40px;
    max-height: 60px;
    min-height: 8vh;
    top: 0;
    left: 0;
    z-index: 200;
    
    
    align-items: center;
    align-content: stretch;
    justify-content: space-between;

    font-family: 'Roboto', sans-serif;
    font-variant: small-caps;
    font-weight: 300;
    
    box-shadow: 2px 2px 6px #041620;
}
/*################################ Styling for Logo ################################*/
.toolbar__logo {
    height: 5vh;
    max-height: 6vh;
    min-height: 5vh;
    z-index: 400;
    cursor: pointer;
}
/*################################ Styling for Logo ################################*/
.toolbar__navigation-items {
    display: flex;
    flex: 1 1 0%;
    align-items: flex-end;
    margin: 0vw 2vw;
    /*width: 75%;*/
    flex-grow: 1;
    flex-shrink: 1;
}

.toolbar__nav-link-container {
    
}

.toolbar__nav-link {
    font-size: var(--link-font-size);
    padding: var(--link-padding);
    color: var(--link-color);
    cursor: pointer;
    font-weight: 400;
    border-bottom: 2px solid #26663e00;
}

.toolbar__nav-link.logout {
    font-size: var(--link-font-size);
    padding: var(--link-padding);
    color: #ffe4e1;
    background: #042432;
    font-weight: 300;
    border-bottom: 2px solid #fc444400;
}

/*.toolbar__nav-link.active,*/
.toolbar__nav-link:hover {
    background: linear-gradient(60deg, #041620, #162432);
    /*#041620;*/
    /*color: #16df64;*/
    /*Doesn't Work;*/
    border-bottom: 2px solid #16df64;
    box-shadow: 2px, 2px, 4px, rgba(0, 0, 0, .5);
}

.toolbar__nav-link.logout:hover {
    background: linear-gradient(60deg, #041620, #162432);
    /*#041620;*/
    color: #fc4444;
    border-bottom: 2px solid #fc4444;
}

/*################################ Styling for User Nav Card and It's Children ################################*/
.userNavCard {
    cursor: pointer;
    max-width: 30%;
}

.profilerContainer {
    background: #162432;
    /*rgba(153, 153, 153, 0.3); */
    /*-webkit-backdrop-filter: blur(30px) saturate(150%);*/
    /*background-blend-mode: luminosity;*/
    display: flex;
    align-items: center;
    align-content: space-around;
    height: var(--profiler-height);
    max-width: 240px;
    width: 24vw;
    min-width: 80px;

    margin: 0px;
    margin-right: 1vh;
    padding: 1vh;

    line-height: 0.8;

    cursor: pointer;

    border-radius: 1vh;
    z-index: 200;
    box-shadow: 2px, 2px, 4px, rgba(0, 0, 0, 0.5);
}

.profilerDP {
    background: var(--link-color);
    height: 92%;
    max-height: 8vw;
    min-height: 32px;
    min-width: 32px;
    /*width: 20%;*/
    /*margin: 4%;*/
    /*marginRight: 4%;*/
    /*marginLeft: 1vh;*/
    border-radius: 10vh;
    font-size: .5rem;
    visibility: invisible;
}

.profilerText {
    width: 75%;
    color: #FFF8E7;
}

.profilerTextName {
    font-size: var(--profiler-name-font-size);
}

.profilerTextDesig {
    color: #DEDEDE;
    font-size: var(--profiler-desig-font-size);
}

/*################################ End of Styling for User Nav Card and It's Children ################################*/